@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:300");
/* ----------- reset ---------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

/* ----------- end of reset ---------- */
.main-nav {
  padding: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .main-nav ul {
    display: flex;
    justify-content: space-between; }

#select-lang span {
  display: inline-block;
  width: 3em;
  height: 1.5em; }
#select-lang li {
  display: flex; }
#select-lang #select-lang-en {
  background-image: url("assets/united-kingdom.svg");
  background-repeat: no-repeat; }
#select-lang #select-lang-ru {
  background-image: url("assets/russia.svg");
  background-repeat: no-repeat; }

/* ------------ debug grphics -------- */
/* ------------ page -------- */
body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff; }

article {
  padding: 2em; }

h1 {
  font-size: 3em;
  width: 100%;
  padding: 1em;
  text-align: center; }

.lead {
  font-size: 1.5em;
  font-family: 'Montserrat', Arial, sans-serif;
  width: 100%;
  padding: 1em;
  text-align: center; }

.lead + p {
  width: 100%;
  padding: 1em;
  text-align: center;
  letter-spacing: 0.1em; }

section {
  padding: 2em 4em; }

h2 {
  font-size: 1.25em;
  font-family: 'Open Sans', Arial, sans-serif;
  width: 100%;
  padding: 1em;
  text-align: center;
  padding-top: 0; }

.pane {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .pane button {
    margin: 1em; }

/* ------------- navicons ----------- */
.navicons {
  /*--------------- arrow-left  ------------ */
  /*-------------  closingLines ----------*/
  /*--------------- arrow-right  ------------ */
  /*--------------- x-button  ------------ */
  /*--------------- x-button-round  ------------ */ }
  .navicons .lines-button {
    padding: 1.75rem 0.875rem;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    border-radius: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none; }
    .navicons .lines-button:hover {
      opacity: 1; }
    .navicons .lines-button:active {
      transition: 0;
      background-color: rgba(0, 0, 0, 0.1); }
  .navicons .line {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 0.5rem;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: 0.2s; }
    .navicons .line::before, .navicons .line::after {
      display: inline-block;
      width: 3.5rem;
      height: 0.5rem;
      background-color: #fff;
      border-radius: 0.25rem;
      transition: 0.2s;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 0.25rem; }
    .navicons .line::before {
      top: 0.875rem; }
    .navicons .line::after {
      top: -0.875rem; }
  .navicons .lines-button:hover {
    opacity: 1; }
    .navicons .lines-button:hover .line::before {
      top: 1rem; }
    .navicons .lines-button:hover .line::after {
      top: -1rem; }
  .navicons .lines-button.arrow-left.close .line {
    transform: scaleX(0.8); }
    .navicons .lines-button.arrow-left.close .line::before, .navicons .lines-button.arrow-left.close .line::after {
      top: 0; }
    .navicons .lines-button.arrow-left.close .line::before {
      transform: rotate(40deg) scaleX(0.6); }
    .navicons .lines-button.arrow-left.close .line::after {
      transform: rotate(-40deg) scaleX(0.6); }
  .navicons .lines-button.closingLines.close .line::before, .navicons .lines-button.closingLines.close .line::after {
    top: 0; }
  .navicons .lines-button.arrow-right .line::before, .navicons .lines-button.arrow-right .line::after {
    transform-origin: 3.25rem; }
  .navicons .lines-button.arrow-right.close .line {
    transform: scaleX(0.8); }
    .navicons .lines-button.arrow-right.close .line::before, .navicons .lines-button.arrow-right.close .line::after {
      top: 0; }
    .navicons .lines-button.arrow-right.close .line::before {
      transform: rotate(-40deg) scaleX(0.6); }
    .navicons .lines-button.arrow-right.close .line::after {
      transform: rotate(40deg) scaleX(0.6); }
  .navicons .lines-button.x-button.close .line {
    background-color: transparent; }
    .navicons .lines-button.x-button.close .line::before, .navicons .lines-button.x-button.close .line::after {
      transform-origin: 50%;
      top: 0; }
    .navicons .lines-button.x-button.close .line::before {
      transform: rotate(45deg); }
    .navicons .lines-button.x-button.close .line::after {
      transform: rotate(-45deg); }
  .navicons .lines-button.x-button-round .line {
    transition: background 0.2s 0.4s ease; }
    .navicons .lines-button.x-button-round .line:before, .navicons .lines-button.x-button-round .line:after {
      transform-origin: 50% 50%;
      transition: top 0.2s 0.4s ease, transform 0.2s ease; }
  .navicons .lines-button.x-button-round.close .line {
    transition: background 0.2s 0s ease;
    background: transparent; }
    .navicons .lines-button.x-button-round.close .line:before, .navicons .lines-button.x-button-round.close .line:after {
      transition: top 0.2s ease, transform 0.2s 0.4s ease;
      top: 0; }
    .navicons .lines-button.x-button-round.close .line:before {
      transform: rotate(45deg); }
    .navicons .lines-button.x-button-round.close .line:after {
      transform: rotate3d(0, 0, 1, -45deg); }

/*# sourceMappingURL=style.css.map */
