/* ------------ debug grphics -------- */
$b-deb: 1px solid green;

/* ------------ page -------- */

$c-pagebg: #333; 

@mixin one-line{
	width: 100%;
	padding: 1em;
	text-align: center;
}

body{
	font-family: Arial, sans-serif;
	background-color: $c-pagebg;
	color: #fff;
}
article{
	padding: 2em;
}

h1{
	font-size: 3em;
	@include one-line;
	
}
.lead{
	font-size: 1.5em;
	font-family: 'Montserrat', Arial, sans-serif;
	@include one-line;

}

.lead + p{
	@include one-line;
	letter-spacing: 0.1em;
}

section{
	padding: 2em 4em;
}

h2{
	font-size: 1.25em;
	font-family: 'Open Sans', Arial, sans-serif;
	@include one-line;
	padding-top: 0;
}

.pane{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	button{
		margin: 1em;
	}
}

/* ------------- navicons ----------- */

.navicons{
	$button-size: 3.5rem;
	$transition-time: 0.2s;

	.lines-button{

		padding: $button-size/2 $button-size/4;
		transition: $transition-time;
		cursor: pointer;
		user-select: none;
		border-radius: $button-size/7;
		background-color: transparent;

		&:hover{
			opacity: 1;
		}
		&:active{
			transition: 0;
			background-color: rgba(0,0,0,0.1);
		}

		border: none;
		outline: none;
	}


	@mixin line{
		display: inline-block;
		width: $button-size;
		height: $button-size/7;
		background-color: #fff;
		border-radius: $button-size/14;
		transition: $transition-time;
	}

	.line{
		position: relative;
		@include line;

		&::before, &::after{
			@include line;

			position: absolute;
			left: 0;
			content: '';

			transform-origin: $button-size/14;
		}
		&::before{
			top: $button-size/4;
		}
		&::after{
			top: -$button-size/4;
		}
	}

	.lines-button:hover{
		opacity: 1;

		.line{
			&::before{
				top: $button-size/3.5;
			}

			&::after{
				top: -$button-size/3.5;
			}
		}
	}

	/*--------------- arrow-left  ------------ */


	.lines-button.arrow-left.close{
		// transform: scale3d(.8,.8,.8);

		.line{
			transform: scaleX(0.8);
			&::before, &::after{
				top: 0;
				

			}
			&::before{
				transform: rotate(40deg) scaleX(0.6);
			}

			&::after{
				transform: rotate(-40deg) scaleX(0.6);
			}
		}
	}

	/*-------------  closingLines ----------*/
	.lines-button.closingLines.close{
		// transform: scale3d(.8,.8,.8);

		.line{
			&::before, &::after{
				top: 0;
			}
		}
	}

	/*--------------- arrow-right  ------------ */

	.lines-button.arrow-right{
		.line{
			&::before, &::after{
			transform-origin: $button-size - $button-size/14;
			}
		}
	}

	.lines-button.arrow-right.close{
		// transform: scale3d(.8,.8,.8);

		.line{
			transform: scaleX(0.8);
			&::before, &::after{
				top: 0;
				// width: $button-size/1.8;
				// transform: scaleX(0.5);

			}
			&::before{
				transform: rotate(-40deg) scaleX(0.6);
			}

			&::after{
				transform: rotate(40deg) scaleX(0.6);
			}
		}
	}

	/*--------------- x-button  ------------ */

	.lines-button.x-button.close{
		.line{
			background-color: transparent;

			&::before, &::after{
				transform-origin: 50%;
				top: 0;			
			}

			&::before{
				transform: rotate(45deg);
			}

			&::after{
				transform: rotate(-45deg);
			}
		}
	}

/*--------------- x-button-round  ------------ */

.lines-button.x-button-round{
	.line{
		transition: background $transition-time $transition-time*2 ease;
 
    &:before, &:after{
      
      transform-origin: 50% 50%;
      transition: top $transition-time $transition-time*2 ease, transform $transition-time ease;
	}
	}
}
	.lines-button.x-button-round.close{
		.line{
			transition: background $transition-time 0s ease;
    background: transparent;
 
    &:before, &:after{
      transition: top $transition-time ease, transform $transition-time $transition-time*2 ease;      
      top:0;
      
    }
    &:before{
      transform: rotate(45deg); 
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg); 
    }
		}
	}

} // navicons